*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;}
    ::selection{
        color: #000;
        background: #fff;
      }
      nav{
        position: fixed;
        background: #05fdc34c;
        width: 100%;
        padding: 10px 0;
        z-index: 12;
      }
      nav .menu{
        max-width: 1250px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
      }
      .menu .logo a{
        text-decoration: none;
        color: #ffA500;
        font-size: 35px;
        font-weight: 600;
      }
      .menu ul{
        display: inline-flex;
      }
      .menu ul li{
        list-style: none;
        margin-left: 7px;
      }
      .menu ul li:first-child{
        margin-left: 0px;
      }
      .menu ul li a{
        text-decoration: none;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        padding: 8px 15px;
        border-radius: 5px;
        transition: all 0.3s ease;
      }
      .menu ul li a:hover{
        background: rgb(215, 212, 212);
        color: black;
      }
      .about{
      text-align: center;
      text-shadow: burlywood;
      background-color: rgba(244, 177, 8, 0.473);
      color: rgba(253, 3, 53, 0.922);
      animation-name:aboutpage;
      animation-duration:5s;
      animation-iteration-count:infinite;
      animation-play-state:running;
      }
      @keyframes aboutpage{
          0%{
              background:rgb(244, 164, 3);
              }
              10%
              {
              background:rgba(28, 244, 4, 0.669);
              }20%
              {
              background:rgba(103, 15, 174, 0.669);
              }30%
              {
              background:rgb(117, 227, 152);
              }40%
              {
              background:rgba(221, 164, 8, 0.669);
              }
              50%
              {
              background:rgb(78, 22, 57);
              }60%
              {
              background:rgba(230, 117, 36, 0.669);
              }70%
              {
              background:rgba(80, 255, 246, 0.669);
              }100%{
              background:yellow;
             
              }
              
              }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Playfair Display', serif;
    display: grid;
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    align-content: center;
    min-height: 100vh;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    width: 75vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px
}
.image{
    background-color: #12192c;
    display: flex;
    border-radius: 12px 0 0 12px;
}
.image img{
height:50vh;
margin:50px auto
}
.content{
    background-color: #12192c;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0  12px 12px 0;
    color: #fff;
}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;;
}
.content h2{

    margin-bottom: 10px;
}

.content span
{
    height: 1.2px;
    width: 12px;
    background: #777;
    margin: 50px 0;
}



.content p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color:#ffffff
}
.links{
    margin: 15px 0;
}
.links li{
    border: 2px solid #4158D0;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}
.links li a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.links li:hover{
    border-color: #C850C0;
}

.vertical-line{
    height: 30px;
    width: 3px;
    background: #C850C0;
    margin: 0 auto;
}
.icons{
    display: flex;
    padding: 15px 0;
}
.icons li{
    display: block;
    padding: 5px;
    margin: 5px;
}
.icons li i{
    font-size: 26px;
    opacity: 0.8;
}
.icons li i:hover{
    color: #C850C0;
    cursor: pointer;
}
hr{
    border-top: 3px dashed rgb(239, 241, 241);
  }
.space{
 margin-top: 50px;

}

body {
	margin: 0;
	padding: 0;
}
.main {
	max-height: 550px;;

	color: white;
	text-align: center;
	line-height: 50px;
}
footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
    padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #d7860c;
}

 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 