*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    

  }
  
  ::selection{
    color: #000;
    background: #e01313;
  }
  nav{
    position: fixed;
    background: #05fdc34c;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
  }
  nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .menu .logo a{
    text-decoration: none;
    color: #ffA500;
    font-size: 35px;
    font-weight: 600;
  }
  .menu ul{
    display: inline-flex;
  }
  .menu ul li{
    list-style: none;
    margin-left: 7px;
  }
  .menu ul li:first-child{
    margin-left: 0px;
  }
  .menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .menu ul li a:hover{
    background: rgb(215, 212, 212);
    color: black;
  

}
.demand{
text-align: center;
text-shadow: burlywood;
background-color: rgba(244, 177, 8, 0.473);
color: rgba(253, 3, 53, 0.922);
animation-name:demandpage;
animation-duration:5s;
animation-iteration-count:infinite;
animation-play-state:running;
}
@keyframes demandpage{
  0%{
      background:rgb(244, 164, 3);
      }
      10%
      {
      background:rgba(28, 244, 4, 0.669);
      }20%
      {
      background:rgba(103, 15, 174, 0.669);
      }30%
      {
      background:rgb(117, 227, 152);
      }40%
      {
      background:rgba(221, 164, 8, 0.669);
      }
      50%
      {
      background:rgb(78, 22, 57);
      }60%
      {
      background:rgba(230, 117, 36, 0.669);
      }70%
      {
      background:rgba(80, 255, 246, 0.669);
      }100%{
      background:yellow;
     
      }
      
      }       

body {
  margin: 0;
  padding: 0;
 background-color: #a5c2f0;
}
.main {
  max-height: 550px;;

  color: white;
  text-align: center;
  line-height: 50px;
}
footer{
  position: relative;
  bottom: 0;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  width: 40%;
}

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #d7860c;
}


.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


.start{
  background-color: rgb(12, 196, 12);
  text-align: center;
  margin: 50px;
  height: 50px;
  color: rgb(251, 250, 250);
 padding-top: 15px;
 letter-spacing: 2px;
}
.start:hover{
  transition:  0.4s ease-in-out;
  filter: drop-shadow(2px 2px 22px rgb(17, 0, 255));
  transform: scale(1.1);
 }


.list{
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 450px;
  padding-right: 100px;
  color: rgb(0, 0, 0);
 
}
.list-heading{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(249, 1, 1);
  border: 2px solid black;
  
}
.list-heading:hover{
  filter: drop-shadow(1px 1px 12px rgb(214, 7, 7));
}

div ol{
  background-color: #3aa6b3;
  border: 2px solid black;
}
div ol:hover{
  filter: drop-shadow(1px 1px 12px rgb(7, 24, 214));

}
.inner-div{
  background-color: rgba(181, 7, 7, 0.833);
  border: 2px solid rgb(9, 9, 9);
  max-width: 50%;
  padding-left: 22px;
}
.next{
  background-color: rgb(249, 1, 1);
  text-align: center;
  margin-top: 20px;
  text-decoration: dotted;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3px;
  border: 2px solid black;
}
.first-demand{
  background-color: #ffffff;
  border: 2px solid black;
  margin-left: 200px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-right: 200px;
  
}
.first-demand h3{
  background-color: #ffA500;
  border: 2px solid red;
  text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
.skill1{
  background-color: #438687;
  border: 2px solid palegoldenrod;
  
}

.skill1 ul{
  list-style: none;
}
.ullist{
   margin-left: 2oopx;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
iframe:hover{
  transition:  0.4s ease-in-out;
  filter: drop-shadow(2px 2px 22px rgb(187, 228, 4));
  transform: scale(1.1);
}
.pa{
  color: red;
  background-color: #ffA500;
  text-align: center;
}
#print{
margin-left: 40%;
margin-top: 30px;
font-size: xx-large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background: #06ff9b;
color: cornsilk;
font-style: unset;
padding-bottom: 5px;
border: 2px solid red;
border-radius: 3px 3px 3px 3px;
width: 300px;
box-shadow: 3px 3px 5px red;
text-shadow: 2px 2px 4px black;

}